
<?xml version="1.0"?>
 <configuration>
  <system.webServer>
    <rewrite>
     <rules>
       <rule name="React Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" 
         />
         <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
       </conditions>
        <action type="Rewrite" url="index.html" />
       </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />

        <add name="X-XSS-Protection" value="1; mode=block" />

        <add name="X-Content-Type-Options" value="nosniff" />

        <add name="Permissions-Policy" value="fullscreen=()" />

        <add name="Referrer-Policy" value="no-referrer" />

        <add name="Cache-control" value="no-store" />

        <add name="Pragma" value="no-cache" />

        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />

        <add name="Content-Security-Policy"

                       value="default-src 'self' 'unsafe-inline';

                        img-src  'self' *;

                        font-src 'self' 'unsafe-inline' https://fonts.googleapis.com *;

                        style-src 'self' 'unsafe-inline' https://fonts.googleapis.com ;

                        script-src 'self' 'unsafe-inline';"/>
    </httpProtocol>
 </system.webServer>
</configuration>


